[SITE CONFIGURATION] (
  AuthenticationMode='None',
  ImageResourcesDirectory='img\',
  Theme='VuePress',
  DarkMode=NO,
  AccentColor='Blue',
  MaxWidth=920,
  ShowLogo=YES,
  Title='CRONO',
  StaticSitesGenerator='Docusaurus',
  PublishToCloud=YES,
  CloudTarget='GitHub',
  GithubPublishOptions=
    [GITHUB PUBLISH OPTIONS] (
      RepositoryOwner='crono-bi',
      RepositoryName='crono.org',
      BranchName='markpad-target',
      CompileSite=NO,
      DirectoryLocation=
        [GITHUB DIRECTORY LOCATION] (
          RepositoryName='crono.org',
          RepositoryOwner='crono-bi',
          Branch='markpad-target',
          Path=''
        )
    )
)