/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 650px!important

.home h1
  display: none

.home .hero .description 
  max-width: 40rem !important

.sidebar-group.is-sub-group.depth-1 > .sidebar-heading
  opacity: 1 !important
  font-weight: bold;
  font-size: 1.0em

