/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important


.sidebar-group.is-sub-group.depth-1 > .sidebar-heading:not(.clickable)
  opacity: 1 !important
  font-weight: bold;
  font-size: 1.0em

