---
Replacements=NULL
Catalogs=NULL
Connection=[SQL SERVER CONNECTION] ([Server]='.', DatabaseName='CRONO_SQL')
EtlOptions=NULL
ParseOptions=NULL
DownloadsDirectory=NULL
BakDirectory=NULL
MailAccount=NULL
GitHubToken=NULL
AmazonKey=NULL
CalendasToken=NULL
CatalogFile=NULL
NetworkCredentials=NULL
Proxy=NULL
DefaultTextEditor=NULL
---

